<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>725887509445-03oiiivhcvpjv0mj49drrc9f8lcek0g2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.725887509445-03oiiivhcvpjv0mj49drrc9f8lcek0g2</string>
	<key>API_KEY</key>
	<string>AIzaSyCsyWvf_YaUDwfzaNoM3VA_KieFURLGxzI</string>
	<key>GCM_SENDER_ID</key>
	<string>725887509445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.invoiceGen</string>
	<key>PROJECT_ID</key>
	<string>invoice-58866</string>
	<key>STORAGE_BUCKET</key>
	<string>invoice-58866.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:725887509445:ios:17822b5429c5d7e6bb61ac</string>
</dict>
</plist>